<!DOCTYPE html>
<html
  style="width:100%;font-family:Roboto, Arial, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;margin:0;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Password Reset Confirmation</title>
  <style>
    @media only screen and (max-width:600px) {
      body {
        font-size: 16px !important;
        line-height: 1.5 !important;
      }

      h1 {
        font-size: 24px !important;
        text-align: center !important;
      }

      h2 {
        font-size: 20px !important;
        text-align: center !important;
      }

      p {
        font-size: 16px !important;
        line-height: 1.5 !important;
      }

      .button {
        width: 100% !important;
        display: block !important;
        text-align: center !important;
      }

      .content {
        padding: 20px !important;
      }
    }

    body {
      margin: 0;
      padding: 0;
      background-color: #f6f6f6;
      font-family: Roboto, Arial, sans-serif;
    }

    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 10px;
      overflow: hidden;
    }

    .header {
      background-color: #0B5394;
      color: #ffffff;
      padding: 20px;
      text-align: center;
    }

    .content {
      padding: 30px;
      color: #333333;
      line-height: 1.6;
    }

    .content h1 {
      margin-top: 0;
      font-size: 28px;
      color: #0B5394;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 20px 0;
      font-size: 16px;
      color: #ffffff;
      background-color: #FFC80A;
      text-decoration: none;
      border-radius: 5px;
    }

    .footer {
      text-align: center;
      font-size: 12px;
      color: #999999;
      padding: 20px;
    }

    .footer a {
      color: #0B5394;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>
        <%= brand %>
      </h1>
    </div>
    <div class="content">
      <h1>New Password Set</h1>
      <p>You have successfully changed your password. You may need to log in again on your devices to continue accessing
        your account.</p>
      <h2>Credentials</h2>
      <p><strong>Email:</strong>
        <%= email %>
      </p>
      <p><strong>Password:</strong>
        <%= password %>
      </p>
      <p>Note: Hi <%= name.first %>, this email contains your credentials for your convenience. We do not
          store passwords in plain text format, so it is impossible to retrieve your current password. You can always
          request to set a new one if needed.</p>
      
                <!-- Show Login Button if loginPath is not having a falsy value  -->
      <% if (loginPath) { %>
        <a href="<%= loginPath %>" class="button">Login</a>
        <% } %>
    </div>

    <!-- Footer -->
    <div class="footer">
      <p>&copy; <%= new Date().getFullYear() %>
          <%= brand %>. All rights reserved.</p>
    </div>
  </div>
</body>

</html>